.header {
    font-family: 'Inter';
    font-style: normal;
    color: #FDE373;
    background: #23283B;
    justify-content: space-between;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__img {
    max-width: 220px;
    margin-top: .5em;
    margin-left: 1em;
    margin-right: .5em;
    margin-bottom: .5em;
}

.header__link{
    margin: .5em;
    display: flex;
}